<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <%- include('header'); -%>
      <script>
      </script>
      <section class="about">
        <div class="list">
          <ul class="grid">
          </ul>
        </div>
        <% if(page=='main' ){ %>
          <%- include('default_list'); -%>
            <% }else if(page=='menu' ){ %>
              <%- include('menu'); -%>
                <% } %>

      </section>
  </div>
</body>
<script type="text/javascript" src="/javascripts/index.js"></script>

</html>