<% if(foods){ %>
  <script>
    let foods = "<%= JSON.stringify(foods) %>";
    foods = foods.replaceAll('&#34;', '\"');
    foods = JSON.parse(foods);

    const list = document.querySelector('.list ul');

    foods.forEach((e, i) => {
      const foodId = e.foodId;
      const name = e.name;
      const storeName = e.storeName;
      const query = `<li id = '${i}' class="foods flex">
                      <div class = "mask flex">
                        <div class = "name">${name}</div>
                        <div class = "store_name">${storeName}</div>  
                      </div>
                      <div id = ${foodId} class = "img_btn">
                        <img src="http://placehold.it/480x480"/>
                      </div>
                    </li>`;
      list.innerHTML += query;
    });

    // show food info modal
    const imgBtns = document.querySelectorAll('.foods .img_btn');

    imgBtns.forEach(imgBtn => {
      imgBtn.addEventListener('click', e => {
        const id = imgBtn.getAttribute('id');
        const mask = imgBtn.previousSibling.previousSibling;
        const childs = mask.childNodes;
        const name = childs[1].innerHTML;
        const storeName = childs[3].innerHTML;
        common.insertFoodInfo(id, name, storeName);
        const modalWrap = document.querySelector('.modal_wrap');
        document.querySelector('body').classList.add('scroll_lock');
        modalWrap.classList.add('visible');
        drawModal();
      });
    });

  </script>
  <% } %>