<% if(foods){ %>
    <script>
        let foods = "<%= JSON.stringify(foods) %>";
        foods = foods.replaceAll('&#34;', '\"');
        foods = JSON.parse(foods);

        const list = document.querySelector('.list ul');

        foods.forEach((e, i) => {
            const name = e.name;
            const storeName = e.storeName;
            const query = `<li id = '${i}' class="foods flex">
                      <div class = "mask flex">${name} , ${storeName}</div>
                      <a href = '/${name}'>
                        <img src="http://placehold.it/480x480"/>
                      </a>
                    </li>`;
            list.innerHTML += query;
        });
    </script>
    <% } %>