<div class="modal_wrap flex">
    <div class="mask"></div>
    <div class="modal">
        <div class="modal_top"></div>
        <div class="modal_section">
            <div class="food_info flex_row">
                <div class="food_img flex flex_50">
                    <img src="http://placehold.it/200x200" alt="">
                </div>
                <div class="food_desc flex flex_50">
                    <div class="food_name">이름 : </div>
                    <div class="food_storename">가게 명 : </div>
                    <div class="food-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="food_myScore">
                <div class="flex">
                    <img src="/images/나의_점수는.png">
                </div>
                <div class="food_eval">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="flex" style="top : 10px;">
                    <button class="btn">주기</button>
                </div>
            </div>
            <div class="wrap_comment">
                <h3 class="sub_title">음식에 대한 평가를 남겨주세요.</h3>
                <div class="write_comment">
                    <div class="write_input">
                        <div class="id_bar">
                            <span class="id"></span>
                            <span calss="string">
                                <em>0</em>
                                /300
                            </span>
                        </div>
                        <textarea id="cmt_cont" placeholder="로그인을 해주세요."></textarea>
                        <button type="submit" class="btn_submit">
                            <span>등록</span>
                        </button>
                    </div>
                </div>
                <div class="list_comment">
                    <ul>
                        <li>
                            <div class="comment_box">
                                <div class="user_info">
                                    <span class="user_name">테스터</span>
                                    <span class="user_date">2021-09-19 14:17:21</span>
                                </div>
                                <div class="user_content">
                                    <div class="user_text">
                                        음식 존나 맛 없네
                                    </div>
                                </div>
                                <div class="user_btn">
                                    <button type="button" class="btn_reply">답글</button>
                                    <div class="btn_like">
                                        <button type="button" class="far fa-thumbs-up like"> 0</button>
                                        <button type="button" class="far fa-thumbs-down hate"> 0</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="wrap_btn_more">
                        <button type="button" class="btn_more">
                            <span>더보기</span>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>